body {
  background-color: hsl(0deg 0% 20%);
  color: hsl(0deg 0% 100%);
  box-sizing: border-box;
  font-family: Lexend, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
}

.button-list {
  list-style-type: none;
  margin: 0;
  padding: 1em;
}

.link-button {
  margin: 2em;
  display: block;
}

.submit-button {
  font-size: 1.5em;
  background-color: hsl(0deg 0% 40%);
  color: hsl(0deg 0% 100%);
  padding: 0.3em;
  border: 3px solid hsl(0deg 0% 45%);
  border-radius: 8px;
  transition-duration: 0.2s;
}

.submit-button:hover {
  background-color: hsl(0deg 0% 60%);
  color: hsl(0deg 0% 0%);
  border: 3px solid hsl(0deg 0% 55%);
  border-radius: 8px;
  cursor: pointer;
}

.recipe-description {
  text-align: left;
  float: left;
  width: 55%;
  padding: 10px;
}

.recipe-image {
  display: inline-block;
  padding: 10px;
  width: 35%;
}

img {
  border-radius: 8px;
  width: 100%;
}
